<div style="vertical-align: middle" class="h1">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 list-inline">
        <a href="#/"><i class="glyphicon glyphicon-home" title="Home Page"></i></a>&nbsp;
        <a href="#/MovieGallery"><i class="glyphicon glyphicon-th-large" title="Gallery View"></i></a>&nbsp;
        <a href="#/MovieList"><i class="glyphicon glyphicon-th-list" title="List View"></i></a>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12 text-right">
        <form class="form-inline col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
            <div class="input-group form-group text-right">
                <div class="form-inline text-right">
                    <input ng-model="ViewModel.QueryTerm" type="text" class="form-control"
                           aria-label="Amount (to the nearest dollar)" placeholder="Quick Search">
                    <button class="btn btn-default form-control" type="submit" ng-click="Action.SeachMovie()">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
