<div id="divMovieGallery" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <br />
    <span class="movieBlock" ng-repeat="m in ViewModel.MovieList" style="display: inline-block">
        <a ng-href="{{ m.url }}" title="{{ m.title_long }}">
            <img id="{{ 'img' + m.movie_id }}" ng-src="{{ m.medium_cover_image }}" class="img-thumbnail img-responsive">
        </a>
        <div class="row text-center"><span ng-repeat="t in m.torrents">{{ t.quality }}&nbsp;</span></div>
    </span>
    <br />
</div>
<div class="center-block">
    <br />
    <ng-include src="'views/partials/Pagination.html'"></ng-include>
    <br />
</div>